.imageSelectionTool_wrapper {
    display:none;
    width: 640px;
    height: 640px;
    padding:20px;
    box-sizing:border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.10);
    border-radius: 8px;
    position: static;
}

.imageSelectionTool_wrapper .imageSelectionTool_inner{
    position:relative;
    overflow:hidden;
}

.imageSelectionTool_wrapper.active{
    display:block;
}

.imageSelectionTool_wrapper p {
    display: inline-block;
    line-height: 20px;
    font-size: 12px;
    color: #222222;
    top: 290px;
    left: 220px;
    position: relative;
}
.imageSelectionTool_wrapper canvas {
    cursor: crosshair;
    width:100%;
    border: 1px solid #DDDDDD;
}

.mce-content-body{
    padding:5px;
    border:1px solid #ccc;
}

.ui-datepicker{
    padding:15px;
    background-color:#fff;
}

.ui-datepicker .ui-datepicker-buttonpane button:focus{
    box-shadow:0 0 10px blue;
}

.file_list{
    overflow:hidden;
    margin-bottom:0.5rem;
}

.file_set{
    margin-bottom:1rem;
    display:inline-block;
    cursor:pointer;
}

.file_list .file_loader_attachment{
    position:relative;
    overflow:hidden;
    background-color:#fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    height:3rem;
    cursor:move;
}

.file_list .file_loader_attachment:hover{
    background-color:#f9f9f9;
}

.file_list .file_loader_attachment p{
    margin:0;
    margin-left:0.5rem;
    margin-right:3.5rem;
    font-size:0.75rem;
    line-height:3rem;
    overflow:hidden;
}

.file_list .file_loader_attachment button{
    width:2rem;
    height:2rem;
    position:absolute;
    right:0.5rem;
    top:0.5rem;
}